<!DOCTYPE html>
<html lang="en">

<head>

  <%- include('../../layout/head.ejs') %>

</head>

<body>
<header>

  <%- include('../../layout/header.ejs') %>

</header>


  <main>
<section>
    <% searchResults.forEach(book=> {%>

<div>
    <img src=<%=book.thumbnail%>/>
</div>

        <ul>
        <li> Title:
        <%= book.title %>
        </li>
    </ul>

<h3>ISPN:
  <%= book.isbn %>
</h3>

    <h2>AUTHOR: <%= book.authors %></h2>

    <p> description:  <%= book.description%></p>


    <form action="/books" method="post">

      <input type="text" name="isbn"  value = "<%= book.isbn %>" >
      <input type="hidden" name="image_url"  value = "<%= book.thumbnail %>">
      <input type="hidden" name="title"  value = "<%= book.title %>">
      <input type="hidden" name="author"  value = "<%= book.authors %>">
      <input type="hidden" name="description"  value = "<%= book.description %>">
      <input type="submit" value = "select this book">

    <!-- <button class="button_link">select book</button> -->

    </form>
    
    <% }) %>

  </section>

      

</main>
</body>

</html>